<div class="col-auto d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100vh;">
    <div>
        <img src="{inject:tenant.logo}" style="max-height: 70px; max-width: calc(280px - 2rem);" alt="{inject:tenant.name} Logo"/>
        <br>
        <span class="fs-4">{inject:tenant.name}</span> </a>
    </div>
    <hr>
    {#let active=nav.or('')}
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/admin/{inject:tenant.id}/events" class="nav-link {#if active == 'events'}active{#else}link-body-emphasis{/if}" {#if active == 'events'}aria-current="page"{/if}>
                <i class="bi bi-calendar-event me-1"></i>
                Events / Registrierungen
            </a>
        </li>
        <li>
            <a href="/admin/{inject:tenant.id}/data" class="nav-link {#if active == 'data'}active{#else}link-body-emphasis{/if}" {#if active == 'data'}aria-current="page"{/if}>
                <i class="bi bi-database me-1"></i>
                JUG Data
            </a>
        </li>
        <li>
            <a href="/admin/{inject:tenant.id}/content" class="nav-link {#if active == 'content'}active{#else}link-body-emphasis{/if}" {#if active == 'content'}aria-current="page"{/if}>
                <i class="bi bi-card-text me-1"></i>
                Texte
            </a>
        </li>
    </ul>
    {/let}
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{inject:currentUser.gravatarUrl}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{inject:currentUser.name}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            {#if inject:currentUser.admin}
            <li>
                <a class="dropdown-item" href="/admin/{inject:tenant.id}/tenants">
                    <i class="bi bi-plus-circle me-1"></i>
                    Neue JUG
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/admin/{inject:tenant.id}/logs">
                    <i class="bi bi-file-text me-1"></i>
                    Server-Logs
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            {/if}
            <li>
                <a class="dropdown-item" href="/admin/{inject:tenant.id}/logout">
                    <i class="bi bi-box-arrow-right me-1"></i>
                    Logout
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><span class="dropdown-item-text small text-muted">Version {config:property('quarkus.application.version')}</span></li>
        </ul>
    </div>
</div>
