{#include admin/layout.html nav="events" heading="Event-Anmeldungen"}
{#content}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Event-ID</th>
            <th>Anmeldungen</th>
        </tr>
        </thead>
        <tbody>
        {#for event in events}
            <tr>
                <td><a href="/admin/{inject:tenant.id}/events/{event.key}">{event.key}</a></td>
                <td>{event.value}</td>
            </tr>
        {/for}
        </tbody>
    </table>
{/content}
{/include}
