<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="noindex, nofollow"/>
    <title>{#insert title}iJUG Event Registration App{/}</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<body>
    {#insert body}No body!{/}
    <script src="/webjars/jquery/jquery.min.js" async defer></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" async defer></script>
</body>
</html>
